<%= form_with(model: participation) do |form| %>
  <% if participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participation.errors.count, "error") %> prohibited this participation from being saved:</h2>

      <ul>
        <% participation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :event_id %>
  </div>

  <div class="field" style="text-align:center">
    <label for="uin">Please enter your UIN:</label>
    <%= form.text_field :uin %>
  </div>

  <br>

  <div class="actions" style="text-align:center">
    <%= form.submit 'Attend this meeting' %>
  </div>
<% end %>
