<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <% if params[:participating] == nil %>
      <%= form.text_field :UIN, class: 'form-control' %>
      <%= form.label :UIN, class: 'form-label' %>
    <% else %>
      <%= form.hidden_field :UIN, class: 'form-control', value: params[:UIN] %>
    <% end %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.text_field :first_name, class: 'form-control' %>
    <%= form.label :first_name, class: 'form-label' %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.text_field :last_name, class: 'form-control' %>
    <%= form.label :last_name, class: 'form-label' %>
  </div>

  <%= form.hidden_field :meeting_points, value: 0 %>
  <%= form.hidden_field :volunteer_points, value: 0 %>
  <%= form.hidden_field :social_points, value: 0 %>

  <% if params[:participating] == nil %>
    <%= form.hidden_field :participating, value: false %>
    <%= form.hidden_field :active_member, value: false %>
  <% else %>
    <%= form.hidden_field :participating, value: true %>
    <%= form.hidden_field :active_member, value: false %>
  <% end %>

  <div class="actions">
    <%= form.submit :class => "btn btn-success" %>
  </div>
<% end %>
