<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.text_field :UIN, class: 'form-control' %>
    <%= form.label :UIN, class: 'form-label' %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.text_field :first_name, class: 'form-control' %>
    <%= form.label :first_name, class: 'form-label' %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.text_field :last_name, class: 'form-control' %>
    <%= form.label :last_name, class: 'form-label' %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.number_field :meeting_points, class: 'form-control' %>
    <%= form.label :meeting_points, class: 'form-label' %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.number_field :volunteer_points, class: 'form-control' %>
    <%= form.label :volunteer_points, class: 'form-label' %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.number_field :social_points, class: 'form-control' %>
    <%= form.label :social_points, class: 'form-label' %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.check_box :active_member, class: 'form-check-input' %>
    <%= form.label :active_member, class: 'form-label' %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-success" %>
  </div>
<% end %>
