<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @student.new_record? %>
    <div class="field form-outline mb-4" style="max-width: 500px;">
      <% if params[:participating] == nil %>
        <%= form.text_field :UIN, class: 'form-control' %>
        <%= form.label :UIN, class: 'form-label' %>
      <% else %>
        <%= form.hidden_field :UIN, class: 'form-control', value: params[:UIN] %>
      <% end %>
    </div>
  <% end %>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.text_field :first_name, class: 'form-control' %>
    <%= form.label :first_name, class: 'form-label' %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.text_field :last_name, class: 'form-control' %>
    <%= form.label :last_name, class: 'form-label' %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.check_box :paid_dues, class: 'form-check-input' %>
    <%= form.label :paid_dues, class: 'form-label' %>
  </div>

  <% if params[:participating] == nil %>
    <%= form.label :meeting_points, class: 'form-label' %>
    <%= form.number_field :meeting_points %>
    <br>
    <%= form.label :volunteer_points, class: 'form-label' %>
    <%= form.number_field :volunteer_points %>
    <br>
    <%= form.label :social_points, class: 'form-label' %>
    <%= form.number_field :social_points %>
    <br>
    <%= form.hidden_field :participating, value: false %>
    <%= form.hidden_field :active_member%>
    <%= form.hidden_field :meeting_name, value: 'N/A' %>
  <% else %>
    <%= form.hidden_field :meeting_points %>
    <%= form.hidden_field :volunteer_points%>
    <%= form.hidden_field :social_points%>
    <%= form.hidden_field :participating, value: true %>
    <%= form.hidden_field :active_member %>
    <%= form.hidden_field :meeting_name, value: params[:meeting_name] %>
  <% end %>

  <div class="actions">
    <%= form.submit :class => "btn btn-success" %>
  </div>
<% end %>
