<p>
  <strong>Event Id:</strong>
  <%= @event.event_id %>
</p>

<p>
  <strong>Event Name:</strong>
  <%= @event.event_name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Events List', events_path %>
<%= link_to 'Home', people_path %>
