<%= form_with(model: request) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.number_field :event_id, class: 'form-control' %>
    <%= form.label :event_id, class: 'form-label'%>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.text_field :UIN, class: 'form-control' %>
    <%= form.label :UIN, class: 'form-label' %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.date_select :date_of_request, class: 'form-control' %>
    <%= form.label :date_of_request, class: 'form-label' %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.number_field :points_requested, class: 'form-control' %>
    <%= form.label :points_requested, class: 'form-label' %>
  </div>

  <div class="field form-outline mb-4" style="max-width: 500px;">
    <%= form.text_field :request_time, class: 'form-control' %>
    <%= form.label :request_time, class: 'form-label' %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-success" %>
  </div>
<% end %>
