<%= render partial: "partials/navbar", locals: {loggedIn: false, page:"requests"} %>

<style type="text/css">
    #title {display:inline-block;margin-right:10px;} 
    #signout {display:inline-block;float:right;} 
</style>

<p class="h1">View Requests</p>
<br />

<% if @requests != nil %>
  <table id="requests-table" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Event ID</th>
        <th>UIN</th>
        <th>Date of Request</th>
        <th>Points</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= request.event_id %></td>
          <td><%= request.UIN %></td>
          <td><%= request.date_of_request %></td>
          <td><%= request.points_requested %></td>
          <td><%= request.student.first_name %></td>
          <td><%= link_to image_tag("check.jpg"), accept_request_path(:id => request.id), method: :post %></td>
          <td><%= link_to image_tag("x.png"), deny_request_path(:id => request.id), method: :post %></td>
          <td>
            <%= link_to(edit_request_path(request)) do %>
              <div style="text-align:center;">
                <button type="button" class="btn btn-info btn-sm px-3">
                  <i class="fas fa-edit"></i>
                </button>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>
<%= link_to 'Add Request', new_request_path %>