<%= render partial: "partials/navbar", locals: {loggedIn: false, page:"requests"} %>

<style type="text/css">
    #title {display:inline-block;margin-right:10px;} 
    #signout {display:inline-block;float:right;} 
</style>

<h1>Requests</h1>
<% if @requests != nil %>
  <table>
    <thead>
      <tr>
        <th>| --Event ID-- |</th>
        <th> --UIN-- |</th>
        <th> --Date of Request-- |</th>
        <th> --Points-- |</th>
        <th> --Name-- |</th>
        <th> --Type-- |</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= request.event_id %></td>
          <td><%= request.UIN %></td>
          <td><%= request.date_of_request %></td>
          <td><%= request.points_requested %></td>
          <td><%= request.student.first_name %></td>
          <td><%= request.request_type %></td>
          <td><%= link_to 'Show', request %></td>
          <td><%= link_to 'Edit', edit_request_path(request) %></td>
          <td><%= link_to 'Remove', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Accept', accept_request_path(:id => request.id), method: :post %></td>
          <td><%= link_to 'Deny', deny_request_path(:id => request.id), method: :post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>
<%= link_to 'Add Request', new_request_path %>