<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @request.event_id %>
</p>

<p>
  <strong>Uin:</strong>
  <%= @request.UIN %>
</p>

<p>
  <strong>Date of request:</strong>
  <%= @request.date_of_request %>
</p>

<p>
  <strong>Points requested:</strong>
  <%= @request.points_requested %>
</p>

<p>
  <strong>Request time:</strong>
  <%= @request.request_time %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @request.approved %>
</p>

<p>
  <strong>Id:</strong>
  <%= @request.id %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
