<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @other_events_list.event_id %>
</p>

<p>
  <strong>Point worth:</strong>
  <%= @other_events_list.point_worth %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @other_events_list.event_type %>
</p>

<p>
  <strong>Number participation:</strong>
  <%= @other_events_list.number_participation %>
</p>

<%= link_to 'Edit', edit_other_events_list_path(@other_events_list) %> |
<%= link_to 'Back', other_events_lists_path %>
