<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting:</strong>
  <%= @meeting_participation.meeting_id %>
</p>

<p>
  <strong>Uin:</strong>
  <%= @meeting_participation.UIN %>
</p>

<%= link_to 'Edit', edit_meeting_participation_path(@meeting_participation) %> |
<%= link_to 'Back', meeting_participations_path %>
