<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting:</strong>
  <%= @meeting_list.meeting_id %>
</p>

<p>
  <strong>Meeting name:</strong>
  <%= @meeting_list.meeting_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting_list.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @meeting_list.location %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting_list.start_time %>
</p>

<%= link_to 'Edit', edit_meeting_list_path(@meeting_list) %> |
<%= link_to 'Back', meeting_lists_path %>
